<p style="color: green"><%= notice %></p>

<%= render @user %>

<h1>Posts</h1>

<div id="posts">
  <% @microposts.each do |micropost| %>
    <%= render micropost %>
      <%= link_to "New Micropost", new_micropost_path %> |

  <% end %>
</div>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
